
#container{
    border-style: solid;
    margin: auto;
    width: 335px;
    background-image: linear-gradient(to right, blue, green);
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 50px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas: 
    "display display display display"
    "blank negative backspace clear"
    "num7 num8 num9 divide"
    "num4 num5 num6 multi"
    "num1 num2 num3 minus"
    "num0 deci equal plus";
}
#display{
    border-style: solid;
    border-color: black;
    grid-area: display;
    text-align: right;
    color: yellowgreen;
    font-size: 40px;
}
#negative{
    grid-area: negative;
}
#num0{
    grid-area: num0;
}
#num1{
    grid-area: num1;
}
#num2{
    grid-area: num2;
}
#num3{
    grid-area: num3;
}
#num4{
    grid-area: num4;
}
#num5{
    grid-area: num5;
}
#num6{
    grid-area: num6;
}
#num7{
    grid-area: num7;
}
#num8{
    grid-area: num8;
}
#num9{
    grid-area: num9;
}
#deci{
    grid-area: deci;
}
#equal{
    background-color: blue;
    grid-area: equal;
}
#divi{
    grid-area: divide;
}
#multi{
    grid-area: multi;
}
#minus{
    grid-area: minus;
}
#plus{
    grid-area: plus;
}
#backspace{
    background-color: red;
    grid-area: backspace;
}
#clear{
    background-color: red;
    grid-area: clear;
}
#setting{
    width: 300px;
    text-align: center;
    margin: 150px auto;
}
#instructions{
    margin-top: 100px;
}
body{
    background-image: linear-gradient(to left, blue, green);
}
button{
    background-color: brown;
    color: yellowgreen;
    font-size: 13px;
}
#instructions{
    color: white;
}